<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.greedy.models.dao.ManagementMapper">

<resultMap type="com.greedy.models.dto.YoutuberDTO" id="ResultMap">
	<id property="youtuberCode" column="YOUTUBER_CODE"/>
	<result property="youtuberName" column="YOUTUBER_USERNAME"/>
	<result property="youtuberNum" column="YOUTUBER_NUMBER"/>
	<result property="youtuberUrl" column="YOUTUBER_URL"/>
	<result property="gradeCode" column="GRADE_CODE"/>
	<result property="managerCode" column="MANAGER_CODE"/>
	<result property="dealYN" column="DEAL_YN"/>
</resultMap>

<!-- <resultMap type="com.greedy.models.dto.ManagerDTO" id="ManagerResultMap2">
	<id property="managerCode" column="MANAGER_CODE"/>
	<result property="managerName" column="MANAGER_NAME"/>
	<result property="managerNum" column="MANGER_NUMBER"/>
</resultMap>
  <select id="selectManagerList" resultMap="ManagerResultMap2">
  	SELECT
  			MANAGER_CODE
  		   ,MANAGER_NAME
  		   ,MANAGER_NUMBER
  	  FROM TB_MANAGER 
  </select> -->
	
   <select id="selectByGradeCode" parameterType="com.greedy.models.dto.SearchCriteria" resultMap="ResultMap">
		SELECT
    		YOUTUBER_CODE
			,YOUTUBER_USERNAME
			,YOUTUBER_NUMBER
			,YOUTUBER_URL
			,GRADE_CODE
			,MANAGER_CODE
      FROM TB_YOUTUBER
      WHERE DEAL_YN = 'Y'
      <choose>
      <when test="value=='1'">
      AND GRADE_CODE = '1'
      </when>
      <when test="value=='2'">
      AND GRADE_CODE = '2'
      </when>
      <when test="value=='3'">
      AND GRADE_CODE = '3'
      </when>
      <when test="value=='4'">
      AND GRADE_CODE = '4'
      </when>
      <when test="value=='5'">
      AND GRADE_CODE = '5'
      </when>
      </choose>
      ORDER BY YOUTUBER_CODE   
  </select>

   <select id="selectByName" parameterType="string" resultMap="ResultMap">
    SELECT
    		YOUTUBER_CODE
			,YOUTUBER_USERNAME
			,YOUTUBER_NUMBER
			,YOUTUBER_URL
			,GRADE_CODE
      FROM TB_YOUTUBER
      WHERE DEAL_YN = 'Y'
      AND YOUTUBER_USERNAME = #{ name }
      ORDER BY YOUTUBER_CODE 
 </select>
 
 <select id="selectByGradeCode" parameterType="SearchCriteria">
 </select>

  <select id="modifyYoutuber" parameterType="com.greedy.models.dto.YoutuberDTO">
  	UPDATE TB_YOUTUBER
  	   SET YOUTUBER_USERNAME = #{youtuberName}
  	      ,YOUTUBER_NUMBER = #{youtuberNum}
  	      ,GRADE_CDOE = #{gradeCode}
  	 WHERE YOUTUBER_CODE = #{youtuberCode}
  </select>
  
  <insert id="registYoutuber" parameterType="com.greedy.models.dto.YoutuberDTO">
  	INSERT INTO
  	  TB_YOUTUBER
  	  (
	  	 YOUTUBER_CODE
	  	,YOUTUBER_USERNAME
	  	,YOUTUBER_NUMBER
	  	,YOUTUBER_URL
	  	,GRADE_CODE
	  	,MANAGER_CODE
	  	,DEAL_YN
  	  )
  VALUES 
    (
      YTB_SEQ.NEXTVAL
     ,#{youtuberName}
     ,#{youtuberNum}
     ,#{youtuberUrl}
     ,#{gradeCode}
     ,#{managerCode}
     ,'Y'
    )
  </insert>
  
  <update id="deleteYoutuber" parameterType="_int">
  	DELETE FROM TB_YOUTUBER
     WHERE YOUTUBER_CODE = #{youtuberCode}
  </update>
  
</mapper>